/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background: url('images/fondo.png') no-repeat center center fixed;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); 
  z-index: 1;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-container {
  position: relative; 
  text-align: center; 
  margin-top: -20px;
}

.logo {
  width: 400px;
  height: 400px;
  top: -50px;
  position: relative;
}


main {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  padding: 20px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; 
}
.main-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 20px; 
  width: calc(100% - 20px); 
  height: calc(100vh - 300px); 
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.contenedor {
  flex: 1; 
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f6f7b2;
  opacity: 0.8;
  border: 5px solid #0c0c0c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}


textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  resize: none; 
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(0 0 0 / 86%);
  color: #ffffff;
}


.botones {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 20px 0;
  align-items: center;
  margin-top: -10px; 
  margin-bottom: 100px;
}

.btn {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  width: 90px; 
  height: 90px; 
  background-color: #ffffffa2; 
  border: none; 
  border-radius: 10px; 
  color: rgb(0, 0, 0); 
  font-size: 16px;
  text-align: center;
  padding: 10px; 
  transition: transform 0.2s ease; 
  
 
}

.btn img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}
.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(0.95); 
}

.btn[disabled] {
  opacity: 0.5; 
  cursor: not-allowed;
}.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(0.95); 
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.mensaje-enunciado {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.icono-info {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 40px; 
  background-color: rgb(51, 51, 51); 
}

footer img {
  width: 25px; 
  height: 25px; 
  margin: 0 10px; 
  cursor: pointer; 
}
textarea#output-texto {
  background-image: url('images/noisy.png'); /* Cambia la ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del textarea */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-position: center; /* Centra la imagen */
  color: transparent; /* Hace que el texto sea invisible */
  caret-color: transparent; /* Hace que el cursor también sea invisible */
  border: 1px solid #ccc; /* Puedes ajustar el borde si es necesario */
  padding: 10px;
  width: 100%;
  height: 100%;
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
  /* Oculta el texto predeterminado */
  ::placeholder {
      color: transparent; /* Hace que el placeholder sea invisible */
  }
}

/* Cuando el usuario pasa el cursor sobre el textarea, ocultar la imagen */
textarea#output-texto:hover {
  background-image: none; /* Oculta la imagen de fondo */
  color: rgb(255, 255, 255); /* Muestra el texto en negro (puedes cambiar el color si lo deseas) */
}
/* estilos para alertas y mensajes de JS*/
.alerta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la alerta en la pantalla */
  background: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  z-index: 1001; /* Asegura que esté por encima del overlay */
  display: none; 
}


.alerta-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}


.alerta-imagen {
  max-width: 100px; 
  max-height: 100px; 
}


#alerta-icono {
  width: 24px; /* Ancho del icono */
  height: 24px; /* Alto del icono */
  margin-right: 10px; /* Espacio a la derecha del icono */
}


#alerta-mensaje {
  font-size: 16px; /* Tamaño de la fuente del mensaje */
  color: #333; /* Color del texto */
}

.alerta.show {
  display: flex; /* Muestra la alerta como flex para el contenido */
}
/*////////////////// Media Queries///////////////////////////////// */
/*//////////////////////          ////////////////////////////////  */

@media (min-width: 1200px) {
  textarea {
    font-size: 20px; /* Ajuste del tamaño de fuente */
  }
  .contenedor {
    max-width: 90%;
  }
  .btn-group {
    flex-direction: row; /* Cambia a una fila si hay espacio suficiente */
  }
  .btn {
    width: auto; /* Ajuste para botones más grandes */
    margin-bottom: 0;
    width: 100px;
    height: 100px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  textarea {
    font-size: 18px; /* Tamaño de fuente unificado para estas resoluciones */
  }
  .contenedor {
    max-width: 90%;
  }
  .btn-group {
    flex-direction: column;
  }
  .btn {
    width: 90%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
  }

}
@media (max-width: 767.98px) and (orientation: portrait) {
  /* Ajustes para dispositivos móviles en orientación vertical */
  .contenedor {
    padding: 10px;
    height: 80%; /* Ajusta la altura del contenedor */
    max-width: 100%;
  }
  .background{
    padding: 0px;
    margin-top: 20px;
  }
  .main-container {
    padding: 10px;
    
  }
  .logo{
    width: 250px;
    height: 250px;
  }
  textarea {
    width: 100%;
    height: 100%; /* Ajusta la altura del textarea */
    font-size: 18px;
  }
  .botones {
    display: flex;
    flex-direction: row; /* Distribuye los botones en una fila */
    justify-content: space-around; /* Distribuye los botones uniformemente */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples filas si es necesario */
    gap: 5px; /* Ajusta el espacio entre los botones */
    margin-top: -50px; /* Ajusta el margen superior */
    
  }
  .btn {
    width: 90px;
    height: 90px;
    font-size: 14px;
  }
  .btn img {
    width: 40px;
    height: 40px;
  }
  .alerta {
    font-size: 12px;
    padding: 5px;
  }
  footer img {
    width: 25px;
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  .contenedor {
    padding: 10px; /* Ajuste del padding para mejorar el espacio */
    height: 90%; /* Permite que el contenido se adapte mejor */
    max-width: 100%;
  }

  .main-container {
    width: 100%; /* Asegura que el contenedor principal no se desborde */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    margin-top: -100px;
  }

  textarea {
    height: 100%; /* Asegura que el textarea se ajuste al contenido */
    width: 100%;
    font-size: 14px; /* Ajusta el tamaño del texto para mejor visibilidad */
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .btn-group {
    flex-direction: row; /* Mantén los botones en fila */
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas si es necesario */
  }

  .btn {
    width: 80px;
    height: 80px;
    font-size: 12px; /* Tamaño del texto del botón */
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas si es necesario */
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    gap: 5px; /* Ajusta el espacio entre los botones */
  }

  .alerta {
    font-size: 12px; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    padding: 5px;
  }

  footer img {
    width: 25px; /* Ajusta el tamaño de los íconos en el pie de página */
  }

  body, html {
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo-container{
    position: relative; /* Asegura que el logo se posicione correctamente */
    text-align: center; /* Ajusta el valor según sea necesario */
  }
  .logo{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 575.98px) and (orientation:portrait) {
  .logo-container {
    margin-bottom: -100px;
  }
  .logo{
    width: 200px;
    height: 200px;
  }
  .contenedor {
    width: 100%;
    height: 70%/* Permite que el contenido se adapte mejor */
    
  }
  .main-container{
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 30px;
  }
  textarea {
    height: 100%; /* Asegura que el textarea se ajuste al contenido */
    width: 100%;
    font-size: 14px;
  }
  .btn-group {
    flex-direction: row;
  }
  .btn {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
  .btn img {
    width: 30px;
    height: 30px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
    margin-top: -50px;
  }
  .alerta {
    font-size: 12px; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    padding: 5px;
  }
  footer img {
    width: 25px;
  }
  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0; /* Asegura que no haya margen que cause desbordamiento */
    padding: 0; /* Asegura que no haya padding que cause desbordamiento */
}
}

@media (max-width: 575.98px) and (orientation: landscape) {
  /* Estilos específicos para pantallas horizontales en dispositivos pequeños */
  .contenedor {
    height: auto; /* Ajusta la altura para adaptarse mejor al landscape */
    max-width: 100%;
  }

  .main-container {
    overflow-x: hidden;
    width: 100%; /* Asegura que el contenedor principal no se desborde */
  }

  textarea {
    height: 100%; /* Ajusta la altura */
    width: 100%;
  }

  .btn-group {
    flex-direction: row; /* Mantén los botones en fila */
  }

  .btn {
    width: 40px;
    height: 40px;
    font-size: 11px;
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px; /* Ajusta el gap para evitar desbordamientos */
  }

  .alerta {
    font-size: 12px;
    padding: 5px;
  }

  footer img {
    width: 25px;
  }

  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
