/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background: url('images/fondo.png') no-repeat center center fixed;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); 
  z-index: 1;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-container {
  position: relative; 
  text-align: center; 
  margin-top: -20px;
}

.logo {
  width: 400px;
  height: 400px;
  top: -50px;
  position: relative;
}


main {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  padding: 20px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; 
}
.main-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  gap: 20px; 
  width: calc(100% - 20px); 
  height: calc(100vh - 300px); 
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.contenedor {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content:  space-between;;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f6f7b2;
  opacity: 0.8;
  border: 5px solid #0c0c0c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  resize: none; 
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(0 0 0 / 86%);
  color: #fff;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 20px 0;
  align-items: center;
  margin-top: -10px; 
  margin-bottom: 100px;
}

.btn {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  width: 90px; 
  height: 90px; 
  background-color: #ffffffa2; 
  border: none; 
  border-radius: 10px; 
  color: rgb(0, 0, 0); 
  font-size: 16px;
  text-align: center;
  padding: 10px; 
  transition: transform 0.2s ease; 
}
.btn img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}
.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(0.95); 
}

.btn[disabled] {
  opacity: 0.5; 
  cursor: not-allowed;
}.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(0.95); 
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.mensaje-enunciado {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.icono-info {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 40px; 
  background-color: rgb(51, 51, 51); 
}

footer img {
  width: 25px; 
  height: 25px; 
  margin: 0 10px; 
  cursor: pointer; 
}
textarea#output-texto {
  background-image: url('images/noisy.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: transparent; 
  caret-color: transparent; 
  border: 1px solid #ccc; 
  padding: 10px;
  width: 100%;
  height: 100%;
  resize: none; 
  ::placeholder {
      color: transparent; 
  }
}
textarea#output-texto:hover {
  background-image: none; 
  color: rgb(255, 255, 255); 
}
/* Hash */
.contenedor-hash {
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #020202b2;
  border: 3px solid #ffffff; 
  border-radius: 10px;
  margin: 0 auto 20px auto;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.botoneshash {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.contenedor-hash textarea {
  flex: 1; /* Permite que el textarea ocupe el espacio disponible */
  height: 40px; /* Ajusta la altura según tu diseño */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
  background-color: #ffffffb0;
  color: #0c0c0c;
  margin: 0 10px; /* Espacio entre el textarea y los botones */
}

.btn-hash {
  display: inline-flex;
  align-items: center;
  background-color: #000000; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  font-size: 14px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  margin-right: 10px; /* Espacio a la derecha del botón "Desencriptar Hash" */
}

.btn-hash img {
  width: 50px; /* Tamaño del icono dentro del botón */
  height: 50px;
}

.btn-hash:hover {
  background-color: #45a049; /* Color de fondo al pasar el cursor sobre el botón */
}

.btn-hash:active {
  transform: scale(0.98); /* Efecto de presionar el botón */
}

.btn-hash-action {
  display: inline-flex;
  align-items: center;
  background-color: transparent; /* Fondo transparente para los botones de solo imagen */
  border: none;
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  background-color: #ffffff;
  font-size: 14px;

}

.btn-hash-action img {
  width: 30px; /* Tamaño del icono dentro del botón */
  height: 30px;
}

.btn-hash-action:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Fondo ligeramente oscuro al pasar el cursor */
}

.btn-hash-action:active {
  transform: scale(0.98); /* Efecto de presionar el botón */
}
.btn-hashD {
  background-color: #000000; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 14px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves para el color y el efecto de presión */
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.btn-hashD img {
  width: 30px; /* Tamaño del icono dentro del botón */
  height: 30px;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.btn-hashD:hover {
  background-color: #45a049; /* Color de fondo al pasar el cursor sobre el botón */
}

.btn-hashD:active {
  transform: scale(0.98); /* Efecto de presionar el botón */
}
.hash-actions {
  display: flex;
  align-items: center;
}
/* Contenedor de los botones de radio */
/* Estilo para los botones de radio y sus etiquetas */
.configuracion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Espacio entre la selección y el contenedor de claves */
  margin-bottom: 20px; /* Espacio inferior respecto al resto del contenido */
  margin-left: 30px;
  margin-right: 30px;
}
.botones-hash-selector,
.clave-container {
  flex: 1; /* Cada contenedor ocupará el mismo espacio disponible */
}
.botones-hash-selector {
  flex: 1; 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; /* Alinea los elementos al centro horizontalmente */
  padding: 10px; 
  box-sizing: border-box; 
  background-color: #f7f6f7b2; 
  opacity: 0.8; 
  border: 5px solid #0c0c0c; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  width: 50%;
}

.selector-label {
  margin-bottom: 20px; /* Espacio entre el texto y los botones */
  font-size: 20px; /* Tamaño de fuente del texto */
  color: #333; /* Color del texto */
  text-align: left;
  margin-right: 20px;
}

.botones-hash-selector label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.botones-hash-selector input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007BFF;
  border-radius: 50%;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}

.botones-hash-selector input[type="radio"]::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #007BFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.botones-hash-selector input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.botones-hash-selector input[type="radio"]:hover {
  background: #f0f0f0;
}

.botones-hash-selector input[type="radio"]:checked + label {
  color: #007BFF;
}
/*estilos para contenedor de claves */

/* Opcional: Estilo para los títulos y párrafos dentro del contenedor de claves */
.clave-container {
  width: 50%; /* Ajusta el ancho según sea necesario */
  padding: 10px; /* Espacio interno del contenedor */
  background-color: #f7f6f7b2; /* Color de fondo */
  opacity: 0.8; /* Opacidad */
  border: 2px solid #0c0c0c; /* Borde */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  font-size: 14px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  border: 5px solid #0c0c0c;
  display: flex; /* Usar Flexbox para alinear el contenido */
  flex-direction: column; 
}
.clave-container h2 {
  font-size: 20px; /* Tamaño de fuente para el encabezado */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.clave-container p {
  margin: 5px 0; /* Espacio arriba y abajo de los párrafos */
}

.clave-container span {
  font-weight: bold; /* Negrita para resaltar el valor de la clave */
}
/* estilos para alertas y mensajes de JS*/
.alerta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1001; 
  display: none; 
}


.alerta-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alerta-imagen {
  max-width: 100px;
  max-height: 100px;
}

#alerta-icono {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#alerta-mensaje {
  font-size: 16px;
  color: #333;
}

.alerta.show {
  display: block;
}
#resultado {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  white-space: pre-wrap;
  width: 100%;
}

#estado-operacion {
  font-size: 24px;
  color: #00ff00; /* Verde más brillante */
  text-align: center;
  margin-top: 20px;
}
/*////////////////// Media Queries///////////////////////////////// */
/*//////////////////////          ////////////////////////////////  */

@media (min-width: 1200px) {
  textarea {
    font-size: 20px; /* Ajuste del tamaño de fuente */
  }
  .contenedor {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row; /* Asegura que los elementos se apilen verticalmente */
      box-sizing: border-box;
      align-items: center; /* Centra los elementos hijos horizontalmente */
      }
  
  .btn-group {
    flex-direction: row; /* Cambia a una fila si hay espacio suficiente */
  }
  .btn {
    width: auto; /* Ajuste para botones más grandes */
    margin-bottom: 0;
    width: 100px;
    height: 100px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
  }
  .contenedor-hash{
    margin-top: -200px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  textarea {
    font-size: 18px; /* Tamaño de fuente unificado para estas resoluciones */
  }
  .contenedor {
    width: 100%;
    height: 100%;
    
  }
  .btn-group {
    flex-direction: column;
  }
  .btn {
    width: 90%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
  }

}
@media (max-width: 767.98px) and (orientation: portrait) {
  /* Ajustes para dispositivos móviles en orientación vertical */
  .contenedor {
    padding: 10px;
    height: 80%; /* Ajusta la altura del contenedor */
    max-width: 100%;
  }
  .background{
    padding: 0px;
    margin-top: 20px;
  }
  .main-container {
    padding: 10px;
    margin-bottom: -100px;
    
  }
  .logo{
    width: 250px;
    height: 250px;
  }
  textarea {
    width: 100%;
    height: 100%; /* Ajusta la altura del textarea */
    font-size: 18px;
  }
  .botones {
    display: flex;
    flex-direction: row; /* Distribuye los botones en una fila */
    justify-content: space-around; /* Distribuye los botones uniformemente */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples filas si es necesario */
    gap: 5px; /* Ajusta el espacio entre los botones */
    margin-top: -50px; /* Ajusta el margen superior */
    
  }
  .btn {
    width: 90px;
    height: 90px;
    font-size: 14px;
  }
  .btn img {
    width: 40px;
    height: 40px;
  }
  .alerta {
    font-size: 12px;
    padding: 5px;
  }
  footer img {
    width: 25px;
  }
  .botoneshash{
   width: 100%;
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  .contenedor {
    padding: 10px; /* Ajuste del padding para mejorar el espacio */
    height: 90%; /* Permite que el contenido se adapte mejor */
    max-width: 100%;
  }

  .main-container {
    width: 100%; /* Asegura que el contenedor principal no se desborde */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    margin-top: -100px;
  }

  textarea {
    height: 100%; /* Asegura que el textarea se ajuste al contenido */
    width: 100%;
    font-size: 14px; /* Ajusta el tamaño del texto para mejor visibilidad */
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .btn-group {
    flex-direction: row; /* Mantén los botones en fila */
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas si es necesario */
  }

  .btn {
    width: 80px;
    height: 80px;
    font-size: 12px; /* Tamaño del texto del botón */
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas si es necesario */
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    gap: 5px; /* Ajusta el espacio entre los botones */
  }

  .alerta {
    font-size: 12px; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    padding: 5px;
  }

  footer img {
    width: 25px; /* Ajusta el tamaño de los íconos en el pie de página */
  }

  body, html {
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo-container{
    position: relative; /* Asegura que el logo se posicione correctamente */
    text-align: center; /* Ajusta el valor según sea necesario */
  }
  .logo{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 575.98px) and (orientation:portrait) {
  .logo-container {
    margin-bottom: -100px;
  }
  .logo{
    width: 200px;
    height: 200px;
  }
  .contenedor {
    width: 100%;
    height: 70%/* Permite que el contenido se adapte mejor */
    
  }
  .main-container{
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 30px;
  }
  textarea {
    height: 100%; /* Asegura que el textarea se ajuste al contenido */
    width: 100%;
    font-size: 14px;
  }
  .btn-group {
    flex-direction: row;
  }
  .btn {
    width: 60px;
    height: 60px;
    font-size: 10px;
    margin: 1px;
  }
  .btn img {
    width: 30px;
    height: 30px;
  }
  .btn-hash img {
    width: 30px;
    height: 30px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
    margin-top: -50px;
    flex-wrap: nowrap;
  }
  .alerta {
    font-size: 12px; /* Ajusta el tamaño de fuente para dispositivos pequeños */
    padding: 5px;
  }
  footer img {
    width: 25px;
    height: 25px;
  }
  footer {
    height: 40px;
    margin-top: 10px;
  }
  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0; /* Asegura que no haya margen que cause desbordamiento */
    padding: 0; /* Asegura que no haya padding que cause desbordamiento */
}
.botoneshash{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
 }

.btn-hash-action{
  width: 100%;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  font-size: 12px;
}
.btn-hashD {
  font-size: 12px;
  padding: 5px;
}
.btn-hash{
  font-size: 12px;
  padding: 5px;
  margin-right: 0px;
  flex-direction: column-reverse;
}
.contenedor-hash textarea{
  width: 90%;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.contenedor-hash{
  padding: 5px;
}
.botones-hash-selector label{
  font-size: 12px;
  margin-bottom: -10px;
}
.botones-hash-selector label::before{
  width: 10px;
  height: 10px;
}
textarea#output-texto{
  background-size: 80% cover; /* Ajusta la imagen al 80% del ancho del contenedor */
  background-position: center; /* Asegura que la imagen siga centrada */
}
}
@media (max-width: 575.98px) and (orientation: landscape) {
  /* Estilos específicos para pantallas horizontales en dispositivos pequeños */
  .contenedor {
    height: auto; /* Ajusta la altura para adaptarse mejor al landscape */
    max-width: 100%;
  }

  .main-container {
    overflow-x: hidden;
    width: 100%; /* Asegura que el contenedor principal no se desborde */
  }

  textarea {
    height: 100%; /* Ajusta la altura */
    width: 100%;
  }

  .btn-group {
    flex-direction: row; /* Mantén los botones en fila */
  }

  .btn {
    width: 40px;
    height: 40px;
    font-size: 11px;
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px; /* Ajusta el gap para evitar desbordamientos */
  }

  .alerta {
    font-size: 12px;
    padding: 5px;
  }

  footer img {
    width: 25px;
  }

  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .botoneshash{
    width: 80%;
  }
}
