/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background: url('images/fondo.png') no-repeat center center fixed;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); 
  z-index: 1;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: relative; 
  text-align: center; 
  margin-top: -20px;
}

.logo {
  width: 400px;
  height: 400px;
  top: -50px;
  position: relative;
}


main {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  padding: 20px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; 
}
.main-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  gap: 20px; 
  width: calc(100% - 20px); 
  height: calc(100vh - 300px); 
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.contenedor {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content:  space-between;;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f6f7b2;
  opacity: 0.8;
  border: 5px solid #0c0c0c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  resize: none; 
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(0 0 0 / 86%);
  color: #fff;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 20px 0;
  align-items: center;
  margin-top: -10px; 
}

.btn {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  width: 90px; 
  height: 90px; 
  background-color: #ffffffe3; 
  border: none; 
  border-radius: 10px; 
  color: rgb(0, 0, 0); 
  font-size: 16px;
  text-align: center;
  padding: 10px; 
  transition: transform 0.2s ease; 
}
.btn img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}
.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(0.95);
  background-color: #00ff0d;
}

.btn[disabled] {
  opacity: 0.5; 
  cursor: not-allowed;
}.btn:hover {
  transform: scale(1.05); 
}

.btn:active {
  transform: scale(1.5); 
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.mensaje-enunciado {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}

.icono-info {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

footer {
  position: fixed;
  bottom: 0; /* Ajusta este valor según la altura de tu footer */
  left: 0;
  width: 100%;
  background: #000000;
  padding: 10px;
  text-align: center;
  transition: bottom 0.3s ease-in-out;
}

footer img {
  width: 25px; 
  height: 25px; 
  margin: 0 10px; 
  cursor: pointer;
}
textarea#output-texto {
  background-image: url('images/noisy.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: transparent; 
  caret-color: transparent; 
  border: 1px solid #ccc; 
  padding: 10px;
  width: 100%;
  height: 100%;
  resize: none; 
  ::placeholder {
      color: transparent; 
  }
}
textarea#output-texto:hover {
  background-image: none; 
  color: rgb(255, 255, 255); 
}
/* Hash */
.contenedor-hash {
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #020202b2;
  border: 3px solid #ffffff; 
  border-radius: 10px;
  margin: 0 auto 20px auto;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap:10px;
}

.botoneshash {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.contenedor-hash textarea {
  flex: 1; 
  height: 40px; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; 
  background-color: #ffffffb0;
  color: #0c0c0c;
  margin: 0 10px; 
}

.btn-hash {
  display: inline-flex;
  align-items: center;
  background-color: #000000; 
  color: white; 
  border: none;
  border-radius: 5px; 
  padding: 10px; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  margin-right: 10px;
}

.btn-hash img {
  width: 50px; 
  height: 50px;
}

.btn-hash:hover {
  background-color: #45a049; 
}

.btn-hash:active {
  transform: scale(0.98); 
}

.btn-hash-action {
  display: inline-flex;
  align-items: center;
  background-color: transparent; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s;
  background-color: #ffffff;
  font-size: 14px;

}

.btn-hash-action img {
  width: 30px;
  height: 30px;
}

.btn-hash-action:hover {
  background-color: rgb(60, 255, 0);
}

.btn-hash-action:active {
  transform: scale(0.98);
}
.btn-hashD {
  background-color: #000000; 
  color: white;
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; 
  align-items: center;
  margin-left: 20px;
  display: flex;
}

.btn-hashD img {
  width: 30px; 
  height: 30px;
  margin-right: 8px; 
}

.btn-hashD:hover {
  background-color: #45a049; 
}

.btn-hashD:active {
  transform: scale(0.98); 
}
.hash-actions {
  display: flex;
  align-items: center;
}

/* Estilo para contenedor key y selector */
.configuracion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px; 
  margin-left: 30px;
  margin-right: 30px;
}
.clave-container {
  flex: 1; 
}
.botones-hash-selector {
  flex: 1; 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  box-sizing: border-box; 
  background-color: #ffffffe7; 
  opacity: 0.8; 
  border: 5px solid #0c0c0c; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  width: 50%;
}

.selector-label {
  margin-bottom: 20px; 
  font-size: 20px; 
  color: #000000; 
  text-align: left;
  margin-right: 20px;
}

.botones-hash-selector label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

.botones-hash-selector input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007BFF;
  border-radius: 50%;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}

.botones-hash-selector input[type="radio"]::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #007BFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.botones-hash-selector input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.botones-hash-selector input[type="radio"]:hover {
  background: #f0f0f0;
}

.botones-hash-selector input[type="radio"]:checked + label {
  color: #007BFF;
}

.clave-container {
  width: 50%; 
  padding: 10px; 
  background-color: #ffffffe7; 
  opacity: 0.8; 
  border: 2px solid #0c0c0c;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-size: 14px; 
  color: #333;
  border: 5px solid #0c0c0c;
  display: flex; 
  flex-direction: column; 
}
.clave-container h2 {
  font-size: 20px;
  margin-bottom: 20px; 
}

.clave-container p {
  margin: 5px 0; 
}

.clave-container span {
  font-weight: bold;
}
/* estilos para alertas y mensajes de JS*/
.alerta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1001; 
  display: none; 
}


.alerta-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alerta-imagen {
  max-width: 100px;
  max-height: 100px;
}

#alerta-icono {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#alerta-mensaje {
  font-size: 16px;
  color: #333;
  
}

.alerta.show {
  display: block;
}
#resultado {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  white-space: pre-wrap;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #f0f0f0;
}

#estado-operacion {
  font-size: 30px;
  color: #29dd09f8; 
  text-align: center;
  margin-top: 20px;
  background-color: #000000;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
}
/*////////////////// Media Queries///////////////////////////////// */
/*//////////////////////          ////////////////////////////////  */

@media (min-width: 1200px) {
  textarea {
    font-size: xx-large;
  }
  .contenedor {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row; 
      box-sizing: border-box;
      align-items: center; 
   }
  .logo{
    width:500px;
    height:500px;
    margin-top: -50px;
  }
  .contenedor-hash textarea {
    height: 50px;
    font-size: x-large;
  }
  .btn-hash-action{
    font-size: 30px;
  }
  .btn-hash-action img {
    width: 50px;
    height: 50px;
  }
  .btn-hashD {
   font-size: 30px;
  }
  .btn-hashD img {
    width: 50px;
    height: 50px;
  }
  .btn-group {
    flex-direction: row; 
  }
  .btn {
    width: auto; 
    margin-bottom: 0;
    font-size: 30px;
    padding: 40px;
    flex-direction: row;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: -200px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .selector-label {
    font-size: x-large;
  }
  .clave-container h2 {
    font-size: x-large;
  }
  .botones-hash-selector label {
    font-size: x-large;
  }
  .botones-hash-selector input[type="radio"] {
    width: 40px;
    height: 40px;
  }
  .btn img {
    width: 80px;
    height: 80px;
  }
  footer {
    height: 60px;
    
  }
  footer img {
    width: 50px;
    height: 50px;
}
#alerta-icono {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#alerta-mensaje {
  font-size: x-large;
}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  textarea {
    font-size: 18px; 
  }
  .contenedor {
    width: 100%;
    height: 100%;
    
  }
  .btn-group {
    flex-direction: column;
  }
  .btn {
    width: 90%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
  }

}
@media (max-width: 767.98px) and (orientation: portrait) {
  /* Ajustes para dispositivos móviles en orientación vertical */
  .contenedor {
    padding: 10px;
    height: 80%;
    max-width: 100%;
  }
  .background{
    padding: 0px;
    margin-top: 20px;
  }
  .main-container {
    padding: 10px;
    margin-bottom: -100px;
    
  }
  .logo{
    width: 250px;
    height: 250px;
  }
  textarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 5px; 
    margin-top: -50px; 
    
  }
  .btn {
    width: 90px;
    height: 90px;
    font-size: 14px;
  }
  .btn img {
    width: 40px;
    height: 40px;
  }
  .alerta {
    font-size: 12px;
    padding: 5px;
  }
  footer img {
    width: 25px;
  }
  .botoneshash{
   width: 100%;
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  .contenedor {
    padding: 10px; 
    height: 90%;
    max-width: 100%;
  }

  .main-container {
    width: 100%; 
    overflow-x: hidden; 
    margin-top: -100px;
  }

  textarea {
    height: 100%; 
    width: 100%;
    font-size: 14px;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .btn-group {
    flex-direction: row; 
    flex-wrap: wrap; 
  }

  .btn {
    width: 80px;
    height: 80px;
    font-size: 12px;
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 5px;
  }

  .alerta {
    font-size: 12px; 
    padding: 5px;
  }

  footer img {
    width: 25px;
  }

  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo-container{
    position: relative; 
    text-align: center; 
  }
  .logo{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 575.98px) and (orientation:portrait) {
  .logo-container {
    margin-bottom: -100px;
  }
  .logo{
    width: 200px;
    height: 200px;
  }
  .contenedor {
    width: 100%;
    height: 70%;
  }
  .main-container{
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 30px;
  }
  textarea {
    height: 100%;
    width: 100%;
    font-size: 14px;
  }
  .btn-group {
    flex-direction: row;
  }
  .btn {
    width: 60px;
    height: 60px;
    font-size: 10px;
    margin: 1px;
  }
  .btn img {
    width: 30px;
    height: 30px;
  }
  .btn-hash img {
    width: 30px;
    height: 30px;
  }
  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px;
    margin-top: -50px;
    flex-wrap: nowrap;
  }
  .alerta {
    font-size: 12px; 
    padding: 5px;
  }
  footer img {
    width: 25px;
    height: 25px;
  }
  footer {
    height: 40px;
    margin-top: 10px;
  }
  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
.botoneshash{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
 }

.btn-hash-action{
  width: 100%;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  font-size: 12px;
}
.btn-hashD {
  font-size: 12px;
  padding: 5px;
}
.btn-hash{
  font-size: 12px;
  padding: 5px;
  margin-right: 0px;
  flex-direction: column-reverse;
}
.contenedor-hash textarea{
  width: 90%;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.contenedor-hash{
  padding: 5px;
}
.botones-hash-selector label{
  font-size: 12px;
  margin-bottom: -10px;
}
.botones-hash-selector label::before{
  width: 10px;
  height: 10px;
}
textarea#output-texto{
  background-size: 80% cover; 
  background-position: center; 
}
}
@media (max-width: 575.98px) and (orientation: landscape) {
  /* Estilos específicos para pantallas horizontales en dispositivos pequeños */
  .contenedor {
    height: auto; 
    max-width: 100%;
  }

  .main-container {
    overflow-x: hidden;
    width: 100%;
  }
  textarea {
    height: 100%; 
    width: 100%;
  }

  .btn-group {
    flex-direction: row; 
  }

  .btn {
    width: 40px;
    height: 40px;
    font-size: 11px;
  }

  .btn img {
    width: 30px;
    height: 30px;
  }

  .botones {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 5px; 
  }

  .alerta {
    font-size: 12px;
    padding: 5px;
  }

  footer img {
    width: 25px;
  }

  body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .botoneshash{
    width: 80%;
  }
}
